.checkbox {
    width: 25px;
    height: 25px;
    color: pink;
    margin-bottom: 10px;
    margin-left: 10px;
}

.body {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    flex-direction: column; 
}

.input {
    font-size: 19px; 
}

.button {
    background-color: red; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 8px; 
    padding: 12px 25px;
    top: 90%;
    margin-left: 50%;
}

.button:hover {
    background-color: darkblue;
}

